/* src/NavBar.css

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff; /* Nav bar color */
    /* color: white; /* Text color */
/* } */ 
/* 
.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
} */
/* 
.navbar-links button {
    background-color: transparent; /* Transparent background */
    /* border: none; /* Remove border */
    /* color: white; Button text color */
    /* font-size: 1em;
    margin-left: 20px; /* Space between buttons */
    /* cursor: pointer; Pointer cursor */ 
    /* transition: color 0.3s; /* Transition for hover effect */
/* } */ 
/* 
.navbar-links button:hover {
    color: #0056b3; /* Change color on hover */
/* }  */ 